.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    animation: fadeIn 0.4s ease-in-out;
}

.svg-container {
    position: relative;
    width: 70px;
    height: 70px;
}

#p-background {
    stroke: var(--color-text-muted);
    stroke-width: 4;
}

#p-stroke {
    stroke: var(--color-primary);
    stroke-width: 2.7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: trace 3s infinite;
}

@keyframes trace {
    0% {
        stroke-dashoffset: 500;
        fill: var(--color-background);
    }

    15% {
        fill: var(--color-background);
    }

    50% {
        stroke-dashoffset: 0;
        fill: var(--color-primary);
    }

    75% {
        fill: var(--color-background);
    }

    100% {
        stroke-dashoffset: -500;
        fill: var(--color-background);
    }
}

.loading-text {
    color: var(--color-text-secondary);
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 480px) {
    .loading-text {
        opacity: 0;
    }
}
